@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@450&family=Roboto:wght@700&display=swap");

.body {
  background-image: url(./WebD/content/green.jpg);
  /* background-color: #008062; */
  padding-top: 25px;
  background-repeat: no-repeat;
  margin-bottom: 40px;
}
#heading {
  font-family: "Roboto", sans-serif;
  font-size: 57px;
  color: white;
}
#subheading {
  font-family: "Poppins", sans-serif;
  /* padding-top: 5px; */
  font-size: 30px;
  color: white;
}
#input {
  margin-top: 30px;
  width: 32%;
  height: 50px;
}
#email {
  margin-right: 10px;
  border-radius: 4px;
  padding-left: 18px;
}
#emailBtn {
  border-radius: 4px;
  width: 33%;
  font-size: 17px;
}
.dispNone{
  display: none;
}

/*Spinner animation*/
.spin{
  display: flex;
  height: 21px;
  justify-content: center;
  align-items: center;
}
.wave {
  width: 1.8px;
  height: 12px;
  background: linear-gradient(45deg, cyan, #fff);
  margin: 3.5px;
  animation: wave 1s linear infinite;
  border-radius: 20px;
}
.wave:nth-child(2) {
  animation-delay: 0.1s;
}
.wave:nth-child(3) {
  animation-delay: 0.2s;
}
.wave:nth-child(4) {
  animation-delay: 0.3s;
}
.wave:nth-child(5) {
  animation-delay: 0.4s;
}
.wave:nth-child(6) {
  animation-delay: 0.5s;
}
.wave:nth-child(7) {
  animation-delay: 0.6s;
}
.wave:nth-child(8) {
  animation-delay: 0.7s;
}
.wave:nth-child(9) {
  animation-delay: 0.8s;
}
.wave:nth-child(10) {
  animation-delay: 0.9s;
}

@keyframes wave {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
.spin .button__text {
  visibility: hidden;
  opacity: 0;
}

#emailPara {
  color: white;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 14px;
}
#img {
  width: 20%;
  padding-top: 140px;
  display: block;
}
#column {
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.commonCol {
  margin-left: 18px;
  margin-right: 18px;
}
.icons {
  height: 50px;
  padding-bottom: 25px;
}
#deskComp {
  width: 40px;
}
.footHead {
  font-weight: 700;
  font-size: 20px;
}
.horLine {
  display: none;
}

@media only screen and (max-width: 1220px) {
  .body {
    background-size: 1220px 560px;
  }
  #input {
    width: 40%;
  }
  #email {
    padding-left: 15px;
    font-size: 14px;
  }
  #emailBtn {
    width: 40%;
    font-size: 14px;
  }
  #img {
    padding-top: 150px;
  }
}

@media only screen and (max-width: 920px) {
  .body {
    background-size: 1220px 630px;
  }
  #heading {
    padding-top: 32px;
  }
  #input {
    width: 60%;
  }
  #email {
    padding-left: 15px;
    font-size: 13px;
  }
  #emailBtn {
    width: 30%;
    font-size: 13px;
  }
  #emailPara {
    font-size: 14px;
  }
  #img {
    width: 32%;
    padding-top: 130px;
  }
  #column {
    width: 80%;
    padding-top: 20px;
  }
  .commonCol{
    margin-left: 0px;
    margin-right: 0px;
  }
  .icons {
    width: 40px;
  }
  .footHead {
    display: inline;
    height: 50px;
    vertical-align: top;
    margin-left: 18px;
    font-size: 24px;
  }
  .footMain {
    font-size: 20px;
  }
  .horLine {
    display: block;
    margin: 25px 0px 40px;
  }
}

@media only screen and (max-width: 767px) {
  .body {
    background-size: 1220px 550px;
  }
  #heading {
    font-size: 50px;
    padding-top: 32px;
  }
  #subheading {
    width: 75%;
    font-size: 25px;
    margin-left: auto;
    margin-right: auto;
  }
  #input {
    width: 60%;
  }
  #email {
    padding-left: 15px;
    font-size: 13px;
  }
  #emailBtn {
    width: 30%;
    font-size: 13px;
  }
  #emailPara {
    font-size: 13px;
  }
  #img {
    width: 25%;
    padding-top: 130px;
  }
  #column {
    width: 70%;
  }
  .commonCol{
    margin-left: 0px;
    margin-right: 0px;
  }
  .icons {
    width: 40px;
  }
  .footHead {
    display: inline;
    height: 50px;
    vertical-align: top;
    margin-left: 18px;
  }
  .footMain {
    font-size: 16px;
  }
  .horLine {
    display: block;
    margin: 25px 0px 40px;
  }
}

@media only screen and (max-width: 620px) {
  .body {
    background-size: 1220px 700px;
  }
  #heading {
    font-size: 45px;
    padding-top: 32px;
    margin-right: auto;
    margin-left: auto;
    width: 90%;
  }
  #subheading {
    width: 75%;
    font-size: 25px;
    margin-left: auto;
    margin-right: auto;
  }
  #input {
    width: 80%;
  }
  #email {
    padding-left: 15px;
    font-size: 14px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 10px;
  }
  #emailBtn {
    width: 100%;
    font-size: 14px;
    margin-right: auto;
    margin-left: auto;
  }
  #emailPara {
    font-size: 13px;
  }
  #img {
    width: 40%;
    padding-top: 190px;
  }
  #column {
    width: 70%;
  }
  .commonCol{
    margin-left: 0px;
    margin-right: 0px;
  }
  .icons {
    width: 40px;
  }
  .footHead {
    display: inline;
    height: 50px;
    vertical-align: top;
    margin-left: 18px;
    font-size: 16px;
  }
  .footMain {
    font-size: 14px;
  }
  .horLine {
    display: block;
    margin: 25px 0px 40px;
  }
}

@media only screen and (max-width: 400px) {
  .body {
    background-size: 1220px 770px;
  }
  #heading {
    font-size: 42px;
    padding-top: 32px;
    margin-right: auto;
    margin-left: auto;
    width: 92%;
  }
  #subheading {
    /* padding-top: 5px; */
    width: 95%;
    font-size: 22px;
    margin-left: auto;
    margin-right: auto;
  }
  #input {
    width: 80%;
  }
  #email {
    padding-left: 15px;
    font-size: 14px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 10px;
  }
  #emailBtn {
    width: 100%;
    font-size: 14px;
    margin-right: auto;
    margin-left: auto;
  }
  #emailPara {
    font-size: 13px;
  }
  #img {
    width: 50%;
    padding-top: 200px;
  }
  .commonCol{
    margin-left: 0px;
    margin-right: 0px;
  }
  .icons {
    width: 40px;
  }
  .footHead {
    display: inline;
    height: 50px;
    vertical-align: top;
    margin-left: 10px;
    font-size: 13px;
  }
  .footMain {
    font-size: 12px;
  }
  .horLine {
    display: block;
    margin: 25px 0px 40px;
  }
}

@media only screen and (max-width: 300px) {
  .body {
    background-size: 700px 800px;
  }
  #heading {
    font-size: 42px;
    padding-top: 32px;
    margin-right: auto;
    margin-left: auto;
    width: 92%;
  }
  #subheading {
    width: 95%;
    font-size: 22px;
    margin-left: auto;
    margin-right: auto;
  }
  #input {
    width: 80%;
  }
  #email {
    padding-left: 15px;
    font-size: 14px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 10px;
  }
  #emailBtn {
    width: 100%;
    font-size: 14px;
    margin-right: auto;
    margin-left: auto;
  }
  #emailPara {
    font-size: 13px;
  }
  #img {
    width: 50%;
    padding-top: 215px;
  }
  #column {
    width: 90%;
  }
  .commonCol{
    margin-left: 0px;
    margin-right: 0px;
  }
  .icons {
    width: 40px;
  }
  .footHead {
    display: inline;
    height: 50px;
    vertical-align: top;
    margin-left: 10px;
    font-size: 12px;
  }
  .footMain {
    font-size: 11px;
  }
  .horLine {
    display: block;
    margin: 25px 0px 40px;
  }
}

